.wrapper-items {
    display: flex;
    flex-direction: column;
    padding: 20px 8px 26px;

    & .active {
        background-color: rgba(22, 24, 35, 0.03);
        color: var(--primary);
    }

    & .active .icon-active {
        display: flex;
    }

    & .active .icon-normal {
        display: none;
    }
}

.menu-item {
    display: flex;
    align-items: center;
    padding: 8px 6px;
    border-radius: 4px;
    transition: background-color ease-in-out 200ms;

    &:hover {
        background-color: rgba(22, 24, 35, 0.03);
    }
}

.icon-active {
    display: none;
    align-items: center;
}

.icon-normal {
    display: flex;
    align-items: center;
}

.title {
    font-weight: 700;
    font-size: 1.8rem;
    line-height: 2.5rem;
    margin-left: 8px;
}
