@import 'normalize.css';

:root {
    --black: rgb(53, 51, 51);
    --white: white;
    --primary: #fe2c55;
    --text-color: #333;
    --font-web: 'ProximaNova', sans-serif;

    //Default Layout
    --default-layout-header-height: 60px;
    --default-layout-width: 1150px;
}

html {
    font-size: 62.5%;
}

// scroll body

html *::-webkit-scrollbar {
    border-radius: 0;
    width: 8px;
}

html *::-webkit-scrollbar {
    border-radius: 0;
    width: 8px;
}

html *::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(0, 0, 0, 0.15);
}

html *::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(0, 0, 0, 0.15);
}

html *::-webkit-scrollbar-track {
    border-radius: 0;
    background-color: rgba(0, 0, 0, 0);
}

html *::-webkit-scrollbar-track {
    border-radius: 0;
    background-color: rgba(0, 0, 0, 0);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: var(--font-web);
    font-size: 1.6rem;
    line-height: 1.5;
    text-rendering: optimizeSpeed;
}

input,
button {
    border: none;
    outline: none;
}

a[href] {
    color: var(--text-color);
    text-decoration: none;
}

// fonts embeded

@font-face {
    font-family: ProximaNova;
    src: url('/assets/fonts/Proxima-Nova-Regular.woff2');
    font-weight: 400;
}

@font-face {
    font-family: ProximaNova;
    src: url('/assets/fonts/ProximaNova-Semibold.woff2');
    font-weight: 600;
}

@font-face {
    font-family: ProximaNova;
    src: url('/assets/fonts/Proxima-Nova-Bold.woff');
    font-weight: 700;
}

@font-face {
    font-family: SofiaPro;
    src: url('/assets/fonts/sofiapro-bold.woff2');
    font-weight: 700;
}
